{% extends 'base/base.html' %} 
{% load static %}

{% block content_body %}

    <!-- login page start-->
    <div class="container-fluid">
        <div class="row">
          <div class="col-xl-7"><img class="bg-img-cover bg-center" src="{% static 'assets/images/login/2.jpg' %}" alt="bg2"></div>
          <div class="col-xl-5 p-0">
            <div class="login-card">
              <div>
                <div><a class="logo" href="index.html"><img class="img-fluid for-light" src="{% static 'assets/images/logo/logo.png' %}" alt="logo Image"></a></div>
                <div class="login-main"> 
                  <form class="theme-form" id="login" method="POST">
                    {% csrf_token %}
                    <h2 class="text-center">Sign in to account</h2>
                    <p class="text-center">Enter your email & password to login</p>
                    <div class="form-group">
                      <label class="col-form-label">Email Address</label>
                      <input class="form-control" type="text" name="username"  required="" placeholder="Test@gmail.com">
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Password</label>
                      <div class="form-input position-relative">
                        <input class="form-control" type="password" id="password" name="password" required="" placeholder="*********">
                        <div class="show-hide"><span class="show">                         </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mb-0">
                      <div class="checkbox p-0">
                        <input id="checkbox1" type="checkbox">
                        <label class="text-muted" for="checkbox1">Remember password</label>
                      </div><a class="link" href="forget-password.html">Forgot password?</a>
                      <div class="text-end mt-3">
                        <button class="btn btn-primary btn-block w-100" type="submit">Sign in</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- login page end-->
    {% endblock content_body %}