{% load static %}

{% block content_nav %}
<header class="header-top">
  <nav class="navbar navbar-light">
    <div class="navbar-left">
      <div class="logo-area">
        <a class="navbar-brand" href="index.html">
          <h2>Orquidea Real</h2>
        </a>
        <a href="404.html#" class="sidebar-toggle">
          <img class="svg" src="{% static 'assets/img/svg/align-center-alt.svg' %}" alt="img"></a>
      </div>
    </div>

    <div class="navbar-right">
      <ul class="navbar-right__menu">





        <li class="nav-author">
          <div class="dropdown-custom">
            <a href="javascript:;" class="nav-item-toggle"><img src="{% static 'assets/img/author-nav.jpg' %}" alt="" class="rounded-circle">
              <span class="nav-item__title">{{user.profile}}<i class="las la-angle-down nav-item__arrow"></i></span>
            </a>
            <div class="dropdown-parent-wrapper">
              <div class="dropdown-wrapper">
                <div class="nav-author__info">
                  <div class="author-img">
                    <img src="{% static 'assets/img/author-nav.jpg' %}" alt="" class="rounded-circle">
                  </div>
                  <div>
                    <h6>
                      {{user.profile}} 
                    </h6>
                    <span>{{user.profile.role}}</span>
                  </div>
                </div>
                <div class="nav-author__options">
                  <ul>
                    <li>
                      <a href="404.html">
                        <i class="fa fa-user"></i> Profile</a>
                    </li>
                    <li>
                      <a href="404.html">
                        <i class="fa fa-gear"></i>
                        Settings</a>
                    </li>

                  </ul>
                  <a href="{% url 'authentication:logout' %}" class="nav-author__signout">
                    <i class="fa fa-sign-out-alt"></i> Cerrar Sesion</a>
                </div>
              </div>

            </div>
          </div>
        </li>

      </ul>

      

  </nav>
</header>
{% endblock content_nav %}