{% extends 'base/base.html' %} {% load static %}
{% block content_nav %}
{% include 'components/nav.html'%}
{% endblock content_nav %}
{% block content_sidebar %}
{% include 'components/sidebar.html'%}
{% endblock content_sidebar %}
{% block content_body %}

<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Default Dashboard</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html"> <i data-feather="home"></i></a>
            </li>
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item active">Default</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid default-page">
    <div class="row">
      <div class="col-xl-5 col-lg-5">
        <div class="card profile-greeting">
          <div class="card-body">
            <div>
              <h1>Welcome,William</h1>
              <p>
                You have completed 40% of your this week! Start a new goal & improve
                your result
              </p>
              <a class="btn" href="user-profile.html">Continue<i data-feather="arrow-right"></i></a>
            </div>
            <div class="greeting-img">
              <img class="img-fluid" src="../assets/images/dashboard/profile-greeting/bg.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content_body %}